<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{{ body }}}
    {{!-- body is a keyword, as is layout
    this tells the code to just change what is in the place of the body tag
    NOTICE! triple squigglies! --}}
</body>
</html>